<button class="btn btn-lg btn-info float-right" (click)="open(content)">Edit</button>
<ng-template #content let-modal>
  <div class="modal-header mod">
    <h4 class="modal-title" id="modal-basic-title">Text change</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
        <editor
        [(ngModel)]="block?.content[num]"
        [init]="{
        base_url: '/tinymce',
        suffix: '.min',
        height: 500,
        menubar: true,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar:
            'undo redo | formatselect | bold italic backcolor | \
            alignleft aligncenter alignright alignjustify | \
            bullist numlist outdent indent | removeformat | help'
        }"
        ></editor>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveText()">Save</button>
  </div>
</ng-template>
