/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

div {
    display: block;
}

body {
    background-color: #f3f3f4;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    height: 100%;
    color: #676a6c;
}

.vl{
    flex: 0 0 50%;
    max-width: 50%;
    height: 100px;
}

.ibox {
    padding: 0 15px 0 15px;
    margin: 0 0 25px 0;
    box-sizing: border-box;
    color: rgb(103, 106, 108);
    display: block; 
    font-size: 13px;
    line-height: 18.5714px;
    position: relative;
    min-height: 1px;
}

.ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}

.ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}
h5 {
    font-weight: 600;
    font-family: inherit;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
}
.ibox-title {
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px; 
    min-height: 48px;
}

.ibox_tools {
    display: block;
    float: none;
    margin-top: 0;
    position: relative;
    padding: 0;
    text-align: right;
}

.dropdown-toggle {
    font-size: 13px;
    line-height: 18.5714px;
    margin: 0 0 0 5px;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}
