/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';


body {
    background-color: #D0D1E1;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    height: 100%;
    color: #676a6c;
    padding-top: 30px;
    font-family: "Lato", sans-serif;
}



